{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Basic -->
     
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <!-- Mobile Metas -->
         <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
         <!-- Site Metas -->
         <title>Alisado Monterrey</title>
         <meta name="keywords" content="">
         <meta name="description" content="">
         <meta name="author" content="">
         <!-- Site Icons -->
         <link rel="shortcut icon" href="#" type="image/x-icon" />
         <link rel="apple-touch-icon" href="#" />
         <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> 
         <!-- Pogo Slider CSS -->
         <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}" />
         <!-- Site CSS -->
         <link rel="stylesheet" href="{% static 'css/style.css' %}" />
         <!-- Responsive CSS -->
         <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
         <!-- Custom CSS -->
         <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
         <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
         <![endif]-->
     
     </head>     

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    
    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
           <img src="{% static 'images/loader.gif' %}" alt="#" />
        </div>
     </div>
     <!-- END LOADER -->

     <nav id="sidebar">
        <div class="menu_section">
           <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Vlog</a></li>
              <li><a href="#">Cont&aacutectanos</a></li>
           </ul>
        </div>
     </nav>

       <!-- Start header -->
       <header class="top-header">
        <div class="container">
           <div class="row">
              <div class="col-sm-6">
                 <div class="logo_main">
                    <br>
                    <a href="#"><img src="{% static 'images/logo1.png' %}" /></a>
                 </div>
              </div>
              <div class="col-sm-6">
                 <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img src="{% static 'images/menu_icon.png' %}"></button>
              </div>
           </div>
        </div>
     </header>
     <!-- End header -->

       <!-- Start Banner -->
       <div class="ulockd-home-slider">
        <div class="container-fluid">
           <div class="row">
              <div class="pogoSlider" id="js-main-slider">
                 <div class="pogoSlider-slide" style="background-image:url('{% static "images/kativa1.jpg" %}');">
                    <div class="container">
                       <div class="row">
                          <div class="col-md-12">
                             <div class="slide_text">
                                <h6></h6>
                                <h3> Alisado Brasile&ntildeo</h3>
                                <h4>Tratamiento</h4>
                                
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>                                    
                 <div class="pogoSlider-slide" style="background-image:url('{% static "images/kativa2.jpg" %}');">              
                    <div class="container">
                       <div class="row">
                          <div class="col-md-12">
                             <div class="slide_text">
                                <h6></h6>
                                <h3>Post Alisado XPress</h3>
                                <h4>Shampoo & Tratamiento</h4>

                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="pogoSlider-slide" style="background-image:url('{% static "images/kativa3.jpg" %}');">
                    <div class="container">
                       <div class="row">
                          <div class="col-md-12">
                             <div class="slide_text">
                                <h6></h6>
                                <h3>Post Alisado</h3>
                                <h4>Shampoo</h4>

                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- .pogoSlider -->
           </div>
        </div>
      </div>
     <!-- End Banner -->

        <!-- section -->
        <div class="section about_section layout_padding padding_top_0">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center">
                           <h2 class="margin-bottom_30"><br><strong class="small theme_color">Nuestros Productos</strong><br>Alisado Brasileño</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full">
                        <div class="heading_small">
                          <h4>Para todo Tipo de Cabello</h4>
                  <h3><strong class="font_strong">Alisado Brasile&ntildeo, para Todo Tipo de Cabello</strong></h3>
                  <p>Tratamiento de alisado, sin formol, con resultado profesional, que restaura y recupera la fortaleza del cabello, que penetra la hebra capilar alisándola hasta por 12 semanas. Recupera la fortaleza del cabello y restaura el brillo, la hidratación y suavidad.</p>
                  <h3><strong class="font_strong">Alisado Brasile&ntildeo, para Cabello Obscuro</strong></h3>
                  <p>Su fórmula se complementa con Aceite de Coco Orgánico y el poder antioxidante del Aceite de Açaí. Recomendado para cabello oscuro: negro, casta&ntildeo oscuro, casta&ntildeo, casta&ntildeo claro y chocolate (alturas de color 1, 3, 4, 5 y 5.35) y cabello con dise&ntildeos de color como balayage, mechas, iluminación, entre otros. </p>
                  <h3><strong class="font_strong">Alisado Brasileño, para Cabello Claro</strong></h3>
                  <p>Su fórmula no da&ntildea y se complementa con la acción hidratante del Aceite de Oliva y el poder antioxidante de los Cítricos. Recomendado para cabello claro: rubio oscuro, rubio y rubio claro (alturas de color 6, 7 y 8) y cabello con diseños de color tipo balayage, mechas, iluminación, entre otros.</p>
                        </div>
                     </div>
                </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full text_align_center">
                        <img class="img-responsive" src="{% static 'images/KATICABRA.png' %}" alt="#" />   
                      </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
  
         <!-- section -->
         <div class="section about_section layout_padding padding_top_0">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center margin-bottom_30">
                           <h2><strong class="small theme_color">Alisado Monterrey</strong><br>Manten Liso tu Cabello</h2>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1">
                     <div class="full text_align_center">
                         <p> Nuestros ingredientes han sido seleccionados cuidadosamente para darle al cabello lo que necesita a partir de 
                            insumos naturales y tecnología.  Te recomendaremos los productos adecuados para darle el cuidado específico que requiere.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="full text_align_center">
                       <img class="img-responsive" src="{% static 'images/kavideo.png' %}" alt="#" />
                     </div>
  
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         
         <!-- CONTACT SECTION-->
         <div class="section contact_section">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6 theme_color_bg fc3726 padding_0">
                     <div class="full">
                        <div class="row">
                           <div class="col-sm-12 col-md-10 offset-lg-1">
                              <div class="full contact_form">                                 
                                 <form class="contact_form_inner" action="" method="get">{% csrf_token %}
                                    <fieldset>
                                       <div class="field">
                                          <input type="text" name="name" placeholder="Tu Nombre" />
                                       </div>
                                       <div class="field">
                                          <input type="text" name="phone_no" placeholder="Tu N&uacute;mero Celular o Correo" />
                                       </div>
                                       <div class="field">
                                          <textarea placeholder="D&iacute;nos Tu Asunto"></textarea>
                                       </div>
                                       <div class="field center">

                                          <script type="text/javascript">
                                             alert('{{ my_alert }}') ;
                                         </script>


                                          <button class="margin-top_30" id='submit' type="submit" value="Enviar" style="width:269px; height:69px; background-image:url('{% static "images/watt_eviux.jpg" %}');"></button>

                                       </div>
                                    </fieldset>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 padding_0">
                     <div class="full">
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="full map_section">
                                 <div id="map">
                                    <div id="googleMap">
                                      <img class="googleMap" src="{%static 'images/MTY.PNG'  %}" style="width:100%;height:440px;">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
  
  
 
<!-- Start Footer -->
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                <div class="heading_main text_align_center white_fonts margin-bottom_30">
                    <h2>Cont&aacute;ctanos</h2>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
        
            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
            <div class="full footer_blog f_icon_1">
                <p>Direcci&oacute;n<br><small>Monterrey, N.L.</small></p>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
                <div class="full footer_blog f_icon_2">
                <p>Tel&eacute;fonos<br><small>+81 1019 5298<br>Lunes - Domingo<br>10:00 am - 05:00 pm</small></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
                <div class="full footer_blog f_icon_3">
                    <p>Email<br><small>alisadomonterrey@gmail.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
                <div class="full footer_blog_last">
                    <p>Social Media</p>
                    <p>
                    <ul>
                        <li><a href="https://fb.com/AlisadoMonterrey/"><i class="fa fa-facebook-f"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>
        
        </div>
    </div>
    </footer>
    <!-- End Footer -->

</div>
<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
<!-- ALL JS FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script>
<script src="{% static 'js/slider-index.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/contact-form-script.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/images-loded.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- End Google Map -->
<script>
    $(document).ready(function() {
    $('#sidebarCollapse').on('click', function() {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
    });
</script>
    

</body>

</html>
